@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* BASIC STYLES */
:root
{
    --purple: rgba(83, 0, 177, 0.712);
    --grey: #F2F2F2;
    --dark-grey: #d6d5d58a;
    --shadow: #b8b8b8b0;
    --paragraph: rgba(0, 0, 0, 0.753);
}
html
{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}
p
{
    color: var(--paragraph);
}
a
{
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

/* ///////// HEADER \\\\\\\\\\ */
header .logo 
{
    box-shadow: 0 8px 6px -5px var(--shadow);
    padding: 0.5em;
    text-align: center;
}
header .logo-menu
{
    box-shadow: none;
}

.banner
{
    background-color: var(--grey);
    position: relative;
}

.banner-effect
{
    background-color: var(--grey);
    border-radius: 50px 50px 0 0;
    height: 35px;
    position: absolute;
    top: 12.2em;
    width: 100%;
}
.position
{
    background-color: var(--dark-grey);
    display: flex;
    padding: 1em;
    justify-content: center;
    height: 18px;
}
.position i
{
    margin-right: 1em;
}
.position p
{
    align-self: flex-end;
    font-weight: 700;
}
.header-content
{
    background-color: var(--grey);
    padding: 2em;
    text-align: center;
}
h1
{
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.button
{
    background: linear-gradient(0deg, rgba(123,34,195,0.8) 0%, rgba(180,32,181,0.8) 50%, rgba(217,32,218,0.8) 100%);
    border-radius: 9999999px;
    box-shadow: 0 5px 8px var(--shadow);
    color: #FFF;
    display: inline-block;
    font-weight: 600;
    margin: 2em 0em 1em 0;
    padding: 1.2em 1.5em 1.2em 1.5em;
    transition: filter 250ms ease-in-out;
}

/* //////// CARTES RESTAURANTS \\\\\\\ */
.full-menu
{
    color: var(--paragraph);
    background-color: var(--grey);
    padding: 0.2em 1em 2em 1em;
}
section
{
    margin-bottom: 2em;
}
.full-menu header
{
    display: flex;
    justify-content: space-between;
}
.full-menu header i
{
    cursor: pointer;
    font-size: 24px;
    margin: 0 1em;
}

.menu-title
{
    color: black;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 0.1rem;
}
.entrees h2, .plats h2, .desserts h2
{
    border-bottom: 3px solid rgba(110, 235, 198, 0.795);
    display: inline-block;
    font-size: 1.1em;
    font-weight: 400;
    padding-bottom: 0.3em;
    margin: 0.5em 0 0.2em 0;
    width: 47px;
}
.card-menu h3
{
    color: black;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.card-menu
{
    display: flex;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0 5px 8px var(--shadow);
    cursor: pointer;
    overflow: hidden;
    margin: 1em 0;
}
.animation-check-svg
{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 15px 0 ;
    background-color: rgb(122, 218, 178);
    cursor: pointer;
    transition: all 400ms ease-in;
    overflow: hidden;
    width: 0;
}

.card-menu:hover .animation-check-svg
{
    width: 80px;
}
.animation-check-svg i
{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    color: rgb(122, 218, 178);;
    background-color: white;
    border-radius: 9999px;
    text-align: center;
    padding: 4px;
}
.card-menu:hover .animation-check-svg i
{
    transform: rotate(1turn);
    transition: transform 500ms ease-in-out;
}
.card-content
{
    display: flex;
    flex-flow: column wrap;
    padding: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.card-content p
{
    font-weight: 700;
}
.description
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.div-button
{
    display: flex;
    width: 180px;
    margin: auto;
    justify-content: center;
}



/* ///// FONCTIONNEMENT \\\\\\\\ */

.fonctionnement
{
    padding: 1em 1em 1em 1em;
}
h2
{
    font-weight: 800;
    font-size: 1.5em;
    margin: 1.5em 0em;
}
.fonctionnement-content
{
    align-items: center;
    background-color: var(--grey);
    box-shadow: 0 6px 8px var(--shadow);
    border-radius: 20px;
    color: var(--paragraph);
    display: flex;
    margin: 1.5em 0.7em;
    padding: 1.8em 1em;
    position: relative;
    transition: all 150ms ease-in-out;

}
.fonctionnement-content:hover
{
    background-color: rgba(81, 0, 128, 0.100);
}
.fonctionnement-content:hover i
{
    color: var(--purple);
}
.fonctionnement-content .number
{
    background-color: var(--purple);
    border-radius: 99999px;
    left: -30px;
    position: relative;
    text-align: center;
    height: 25px;
    width: 25px;
}
.fonctionnement-content .number span
{
    color: #FFF;
    position: absolute;
    top: 3px;
    left: 8px;
}
.fonctionnement-content i
{
    font-size: 20px;
    margin: 0 1.2em 0 0;
    transition: all 150ms;
}
.fonctionnement-content p
{
    align-self: center;
    font-weight: 800;
}

/* ///////// RESTAURANT \\\\\\\\\\ */

.restaurants
{
    background-color: var(--grey);
    padding: 1em 1em 3em 1em;
    margin: 0;
}
.restaurants h2
{
    margin-bottom: 1em;
}
.card-restaurant
{
    background-color: #FFF;
    box-shadow: 0 2px 8px var(--shadow);
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    margin: 1em 0;
    transition: all 150ms ease-in-out;
}
.card-restaurant:hover
{
    box-shadow: 0 10px 10px var(--shadow);
}
.card-restaurant > div
{
    border-radius: 15px 15px 0 0;
}
.img-restaurant
{
    border: white;
    height: 155px;
    outline: none;
    position: relative;
}
.la-palette-du-gout
{
    background-image: url(../images/restaurants/La\ palette\ du\ goût.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.la-note-enchantée
{
    background-image: url(../images/restaurants/La\ note\ enchantée.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.la-francaise
{
    background-image: url(../images/restaurants/A\ la\ française.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.le-delice-des-sens
{
    background-image: url(../images/restaurants/Le\ délice\ des\ sens.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.new-corner-img
{
    display: inline;
    background-color: rgb(158, 224, 204);
    border-radius: 3px;
    color: rgb(23, 129, 115);
    font-size: 0.9em;
    font-weight: 700;
    right: 0;
    margin: 1em;
    padding: 0.5em 0.8em;
    position: absolute;
}
.information-restaurant
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.information-restaurant h3
{
    font-weight: 800;
    margin-bottom: 0.5em;
}
.information-restaurant .fa-heart
{
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--paragraph);
    font-size: 24px;
    transition: all 200ms ease-in-out;
}
.information-restaurant .fa-heart.liked
{
    background: linear-gradient(0deg, rgba(217,32,218,0.8) 0%, rgba(180,32,181,0.8) 50%, rgba(123,34,195,0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
}
.full-menu header .fa-heart
{
    color: var(--grey);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--paragraph);
    font-size: 24px;
    transition: all 200ms ease-in-out;
}
.information-restaurant .fa-heart:hover, .full-menu header .fa-heart:hover
{
    background: linear-gradient(0deg, rgba(217,32,218,0.8) 0%, rgba(180,32,181,0.8) 50%, rgba(123,34,195,0.8) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
}


/* //////////// FOOTER \\\\\\\\ */
footer
{
    background-color: rgba(0, 0, 0, 0.801);
    padding: 1em 1em;
}
footer a
{
    display: block;
    color: #FFF;
    margin: 1em 0;
}
footer a:hover
{
    text-decoration: underline;
}
footer a img
{
    max-width: 100px;
}
footer i
{
    height: 18px;
    margin-right: 0.5em;
    max-width: 18px;
}

@media screen and (min-width: 1100px)
{
    .search-filter
    {
        display: flex;
        justify-content: space-around;
    }
    .fonctionnement-content
    {
        padding-right: 2em;
    }
    .cards-restaurants
    {
        display: flex;
        justify-content: space-around;
    }
    .card-restaurant
    {
        flex: 1 1 300px;
        margin: 1em;
    }
    footer 
    {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
}
@media screen and (min-width: 1500px)
{
    body
    {
        width: 70%;
        margin: auto;
    }
}